.finish-container {
  height: 600px;
  width: 600px;
  //   border: 2px solid red;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 14, 171);
  border-radius: 20px;
  h1 {
    color: white;
    text-align: center;
    padding-bottom: 50px;
    span {
      color: white;
      font-size: 39px;
    }
  }
  h2 {
    color: rgb(255, 255, 255);
  }
  .btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 70, 232);

    padding: 17px;
    width: 80%;
    font-size: 30px;
    margin: 5px 0px;
    color: white;
    cursor: pointer;
    margin-top: 75px;
    &:hover {
      background-color: rgb(128, 68, 177);
      color: white;
    }
  }
}

@media screen and (max-width: 500px) {
  .finish-container {
    width: 350px;
  }
  h1 span {
    font-size: 27px !important;
  }
}
