.start-container {
  height: 600px;
  width: 600px;
  //   border: 2px solid red;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(85, 14, 171);
  border-radius: 20px;
  h1 {
    color: white;
    display: flex;
    position: absolute;
    top: 150px;
  }
  .btn {
    border: none;
    border-radius: 10px;
    background-color: rgb(159, 70, 232);
    color: white;
    padding: 23px;
    width: 256px;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      background-color: rgb(128, 68, 177);
      color: white;
    }
  }
  input {
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    width: 256px;
    margin: 12px 0px;
    font-size: 23px;
  }
}

@media screen and (max-width: 500px) {
  .start-container {
    width: 350px;
  }
  h1 {
    font-size: 15px;
  }
}
