* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  justify-content: center;
  background: url('./quiz\ background.jpg') no-repeat center center/cover;
}

@media screen and (max-width: 415px) {
  body {
    background: url('./quiz\ background.jpg') repeat-y;
  }
}
